<h1>Step 1: Choose your Model and color</h1>

<form (change)="onChange()" [formGroup]="level1Form">
    <div class="row">
        <div class="col-md-2">
            <label for="modelSelect">Model:</label>
            <select (change)="onSelectModel()" id="modelSelect" name="modelSelect" formControlName="modelSelect"
                class="style-select">
                <option value="" selected>Model</option>
                <option *ngFor="let model of models; index as i" value="{{i}}">{{ model?.description }}</option>
            </select>
        </div>

        <div class="col-md-10" *ngIf="level1Form.value?.modelSelect">
            <label for="colorSelect">Color:</label>
            <select id="colorSelect" name="colorSelect" formControlName="colorSelect" class="style-select">
                <option value="" selected>Choose Color</option>
                <option *ngFor="let color of models?.[level1Form.value?.modelSelect]?.colors;"
                    value="{{color.code}}">{{color.description}}</option>
            </select>
        </div>
    </div>
</form>

<div *ngIf="level1Form.valid">
      <img class="carImage" src="https://interstate21.com/tesla-app/images/{{colorCode}}/{{selectedModel.color}}.jpg">
</div>